.filterbox__container {
	width: 500px;
	top: 225px;
	right: 100px;
	z-index: 3;

	&--expanded {
		height: 500px;
		background-color: $white;
		border-bottom: 1px solid #ccc;
	}

	&--minimized {
		height: 75px;
		top: 150px;
		box-sizing: border-box;
		background-color: $black;
		border: 1px solid #ccc;
	}

}

/* Animations */

.filterbox-enter {
	opacity: 1;
	transform-origin: top left;
  -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.filterbox-enter.filterbox-enter-active {
}

.filterbox-leave {
	transform: translateY(-1000px);
	-ms-transform: translateY(-1000px); /* IE 9 */
  -webkit-transform: translateY(-1000px); /* Safari */
	opacity: 0;
	transform-origin: bottom left;
  -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.filterbox-leave.filter-leave-active {
}


.filterboxminimized-enter {
  
}

.filterboxminimized-enter.filterboxminimized-enter-active {

}

.filterboxminimized-leave {
	transform: translateY(-50px);
	-ms-transform: translateY(-50px); /* IE 9 */
  -webkit-transform: translateY(-50px); /* Safari */
  -webkit-transition: all 4s ease-in-out;
	-moz-transition: all 4s ease-in-out;
	transition: all 4s ease-in-out;
}

.filterboxminimized-leave.filterboxminimized-leave-active {

}