.filterbox__container {
	width: 300px;
	top: 150px;
	right: 100px;
	z-index: 3;

	&--expanded {
		height: 500px;
		background-color: $white;
	}

	&--minimized {
		height: 100px;
		background-color: red;
	}

}

/* Animations */

.filterbox-enter {
	transform: scaleY(0.5);
	transform-origin: top left;
  -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.filterbox-enter.filterbox-enter-active {
}

.filterbox-leave {
	transform: scaleY(0.1);
	transform-origin: bottom left;
  -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.filterbox-leave.filter-leave-active {
}


.filterboxminimized-enter {
  transform: scaleY(0.5);
	transform-origin: bottom left;
  -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.filterboxminimized-enter.filterboxminimized-enter-active {

}

.filterboxminimized-leave {
  -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.filterboxminimized-leave.filterboxminimized-leave-active {

}