.header__image--featured {
	height: 500px;
	overflow: hidden;
}

.header__title {
	position: absolute;
	top: 100px;
	left: 50px;

	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 75px;

	z-index: 2;
}