$white: #FFF;
$black: #111;

@import './nav';
@import './header';
@import './location-map';
@import './sticky.scss';
@import './filter-box.scss';
@import './content.scss';

body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	background-color: #F2F2F2;
	height: 3000px; //to be deleted
	margin: 0;
	padding-top: -75px;
}